<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blackjack Webapp</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Blackjack</a>
        </div>

      <% if player_known? %>
        <form class="navbar-form navbar-right" role="logout" action="/player" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            Logout
          </button>
        </form>

        <form class="navbar-form navbar-right" role="reset" action="/game/new" method="post">
          <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            Start Over</button>
        </form>

        <a href="/player" class="btn btn-primary navbar-btn navbar-right">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <%= @player.name %>  <span class="badge"><small>$<%= @player.money %></small></span>
        </a>
      <% else %>
        <a href="/game/new" class="btn btn-primary navbar-btn navbar-right">New Game</a>
      <% end %>

      </div>
    </div>

  <div class="container">
    <% if flash[:error] %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
    <% if flash[:success] %>
      <div class="alert alert-success"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:info] %>
      <div class="alert alert-info"><%= flash[:info] %></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
