<h3><%= player.name %>'s Cards
  <% if player.name == "Dealer" && !player.hide_card? %>
    <small>(<%= player.hand_value  %>)</small>
  <% else %>
    <small>(<%= player.hand_value  %>)</small>
  <% end %>
</h3>

<% player.hand.each_with_index do |card, index| %>
  <% if (index + 1) % 4 == 1 %>
    <div class="row">
  <% end %>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="thumbnail card-container">
      <img src="/images/cards/<%= image_name(card) %>" alt="card" class="card <%= card.nil? ? 'card--cover': ''%>" />
    </div>
  </div>

  <% if (index + 1) % 4 == 0 || (index + 1) == player.hand.count %>
    </div>
  <% end %>
<% end %>
